* {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}

html {
  scroll-behavior: smooth;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
  font-weight: 400;
}

h1 {
  font-size: 5rem;
  font-weight: 800;
}

h2 {
  font-size: 3rem;
  font-weight: 800;
}

h3 {
  font-size: 1.6rem;
  font-weight: 800;
}

.scale {
  transition: all 0.2s;
  &:hover {
    transform: scale(1.15);
  }
}



.backgroundLightGreen {
  background-color: #8be6c5;
}
.backgroundGreen {
  background-color: #b6e497;
}
.backgroundPink {
  background-color: #fdd9d9;
}
.backgroundYellow {
  background-color: #fdf5ab;
}

header {
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 999;
  height: max-content;

  nav {
    height: 100%;
    display: flex;
    width: auto;
    padding: 1vw 10vw 1vw 10vw;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      width: 50vw;
      justify-content: space-around;

      li{
        button{
          background-color: transparent;
          border: none;
        }
      }
    }

    .comprarAhora {
      background-color: #f39f9f;
      border: 0;
      border-radius: 5px;
      padding: 6px 15px 6px 15px;
      width: max-content;
      height: max-content;

      p {
        color: white;
        font-weight: 400;
      }
    }

    .navToggle{
      background-color: transparent;
      border: none;
      display: none;
    }
  }
}

.index__main {
  display: flex;
  flex-direction: column;
  width: 100%;

  .main__introduccion {
    display: flex;
    flex-direction: row;
    width: auto;
    min-height: 40rem;
    justify-content: space-around;
    background-color: #fdd9d9;
    padding: 0 12vw 0 12vw;

    .introduccion__texto {
      padding: 7.5rem 0 0 0;

      p {
        font-size: 1.25rem;
      }
    }

    .introduccion__img {
      padding: 3rem 0 0 0;

      img {
        width: 35rem;
      }
    }
  }

  .main__quienesSomos {
    display: flex;
    flex-direction: column;
    width: auto;
    align-items: center;
    padding: 3.75rem 0 1.5625rem 0;
    min-height: 26.25rem;

    ul {
      display: flex;

      li {
        padding: 2vw;
        justify-content: center;
        align-items: center;
        text-align: center;

        img {
          width: 20rem;
        }
      }
    }
  }

  .main__queHacemos {
    width: auto;
    height: 15rem;
    display: flex;
    flex-direction: column;
    background-color: #ebd1ef;
    padding: 5rem 12vw 0 12vw;

    div {

      p {
        padding-top: 0.9375rem;
        font-size: 1.25rem;
        width: 70vw;
      }

      ul {
        position: relative;
        top: 1.25rem;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          a {
            img {
              width: 14rem;
            }
          }
        }
      }
    }
  }

  .main__nuestrosProductos {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 11rem 12vw 0 12vw;
    justify-content: center;

    h2{
        padding-top: 7rem;
    }

    .nuestrosProductos__productos {
      display: flex;
      justify-content: center;
      align-items: center;

      ul {
        width: 100%;
        display: grid;
        align-items: center;
        justify-content: center;
        grid-template-columns: max-content max-content;
        grid-column-gap: 8rem;
        grid-row-gap: 3.5rem;
        padding: 2rem;

        li {
          width: max-content;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-content: center;

          img {
            width: 33.75rem;
            margin-bottom: 0.625rem;
            border-radius: 5px;
          }
        }
      }
    }
  }
}

.categoria__main {
  width: 100%;

  .main__categoria {
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1.5625rem 12vw 1.5625rem 12vw;

    img {
      width: 55vw;
    }
  }

  .main__cards {
    display: flex;
    flex-direction: column;
    width: auto;
    padding: 1.5625rem 12vw 9.375rem 12vw;

    h2 {
      padding: 1.875rem 0 1.875rem 0;
    }

    ul {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1.25rem;
      max-width: 60vw;
      align-self: center;

      .card {
        padding: 0.625rem;
        border-radius: 15px;
        width: 100% -1.25rem;
      
        img {
          width: 100%;
        }
      
        h3 {
          padding: 16px 0 20px 0;
        }
      
        &:hover {
          box-shadow: 0 0 5px 1px rgba(0, 0, 0, 0.26);
          background-color: white;
        }
      }
    }
  }
}

.juegos__main {
  width: 100%;
  background-color: #fdf5ab;

  .main__juego {
    width: auto;
    display: flex;
    flex-direction: column;
    padding: 1.5625rem 12vw 1.5625rem 12vw;

    a {
      text-decoration: underline;
      margin: 0 0 10px 0;
      color: #6655ff;
    }

    .juego__conteiner {
      display: flex;
      gap: 3.75rem;
      justify-content: space-between;
      padding: 0 0 2.5rem 0;

      .carousel {
        width: 40vw;
      }

      .juego__data {
        display: flex;
        flex-direction: column;
        width: 30vw;
        align-items: center;
        gap: 30px;

        button {
          width: 100%;
          padding: 1rem 0 1rem 0;
          background-color: #f39f9f;
          border: none;
          border-radius: 5px;

          p {
            font-size: 1.25rem;
            color: white;
          }
        }
      }
    }
  }
}

.main__contacto {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
  align-items: center;
  background-color: #d1e7ef;
  padding: 2.5rem 0 8.75rem 0;

  h2 {
    width: 34rem;
    text-align: center;
    margin-bottom: 30px;
  }

  button {
    background-color: #000000;
    border: 0;
    border-radius: 5px;
    padding: 0.6875rem 1.75rem 0.6875rem 1.75rem;

    p {
      color: white;
      font-weight: 400;
    }
  }
}

footer {
  display: flex;
  width: auto;
  justify-content: space-between;
  padding: 1.25rem 12vw 1.25rem 12vw;
  background-color: black;

  p {
    color: white;
  }
}

@media only screen and (max-width: 1200px) {
  * {
    font-size: 12px;
  }

  .categoria__main {
    .main__cards {
      ul {
        grid-template-columns: 1fr 1fr;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  * {
    font-size: 9px;
  }
}

@media only screen and (max-width: 660px) {
  * {
    font-size: 9px;
  }

  header {

    nav {
      padding: 2vw 10vw 1vw 10vw;
      

      .navToggle{
        display: block;
      }
      
      .mariaBarbara{
        display: none;
      }

      .navList {
        
        flex-direction: column;
        width: 100%;
        align-items: center;
        gap: 20px;
        position: fixed;
        top: 40px;
        left: 0px;
        background-color: white;
        padding: 20px 0 10px 0;
        left: 100%;
        transition: left 0.3s;
        p{
          font-size: 12px;
        }
      }

      .navVisible{
        left: 0;
      }
    }
  }

  .juegos__main {
    .main__juego {
      .juego__conteiner {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: auto;

        .carousel {
          width: 50vw;
        }

        .juego__data {
          width: 50vw;
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1.875rem;
        }
      }
    }
  }

  .index__main{
    .main__introduccion {
      flex-direction: column-reverse;
      align-items: center;     
       
      .introduccion__texto {
        padding: 0 0 7.5rem 0;
      }

      .introduccion__img {
        img {
          width: 30rem;
        }
      }
    }

    .main__quienesSomos {
      display: flex;
      flex-direction: column;
      width: auto;
      align-items: center;
      padding: 3.75rem 0 1.5625rem 0;
      min-height: 26.25rem;
  
      ul {
        display: flex;
        flex-direction: column;
        align-items: center;
  
        li {
          padding: 2vw;
          justify-content: center;
          align-items: center;
          text-align: center;
          width: 50%;
  
          img {
            width: 20rem;
          }
        }
      }
    }

    .main__nuestrosProductos {
      .nuestrosProductos__productos {
  
        ul {
          display: flex;
          flex-direction: column;
          padding: 2rem;
  
          li {
            width: 35rem;

            img {
              width: 100%;
            }
          }
        }
      }
    }
  }

  .categoria__main {
    .main__categoria{
      
      img{
        width: 80vw;
      }
    }
  
    .main__cards {

      ul {
        grid-template-columns: 1fr;

        .card {
          padding: 0.625rem;
          border-radius: 15px;
          width: 100% -1.25rem;
        
          img {
            width: 100%;
            border-radius: 7px;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  
  .index__main {  
    .main__queHacemos {
      div {
        ul {
          li {
            a {
              img {
                width: 10rem;
              }
            }
          }
        }
      }
    }
  
    .main__nuestrosProductos {
      .nuestrosProductos__productos {
        ul {
          li {
            width: 30rem;
          }
        }
      }
    }
  }
}
