* {
  margin: 0;
  padding: 0;
  font-family: 'Heebo', sans-serif;
  font-size: 14px;
  text-decoration: none;
  list-style: none;
}

ul {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

p {
  margin: 0;
}

.scale {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.scale:hover {
  -webkit-transform: scale(1.15);
          transform: scale(1.15);
}

h1 {
  font-size: 5rem;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 1.6rem;
}

.headerIndex {
  background-color: #fdd9d9;
}

.headerJuegos {
  background-color: #fdf5ab;
}

header {
  width: 100%;
}

header nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  padding: 1vw 10vw 1vw 10vw;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header nav button {
  background-color: #f39f9f;
  border: 0;
  border-radius: 5px;
  padding: 6px 15px 6px 15px;
}

header nav button p {
  color: white;
  font-weight: 300;
}

.index__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.index__main .main__introduccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: auto;
  min-height: 40rem;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #fdd9d9;
  padding: 0 12vw 0 12vw;
}

.index__main .main__introduccion .introduccion__texto {
  padding: 7.5rem 0 0 0;
}

.index__main .main__introduccion .introduccion__texto p {
  font-size: 1.25rem;
}

.index__main .main__introduccion .introduccion__img {
  padding: 3rem 0 0 0;
}

.index__main .main__introduccion .introduccion__img img {
  width: 35rem;
}

.index__main .main__quienesSomos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3.75rem 0 1.5625rem 0;
  min-height: 26.25rem;
}

.index__main .main__quienesSomos ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.index__main .main__quienesSomos ul li {
  padding: 2vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.index__main .main__quienesSomos ul li img {
  width: 20rem;
}

.index__main .main__queHacemos {
  width: auto;
  height: 19rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #ebd1ef;
  padding: 1.25rem 12vw 0 12vw;
}

.index__main .main__queHacemos p {
  padding-top: 0.9375rem;
  font-size: 1.25rem;
  width: 70vw;
}

.index__main .main__queHacemos ul {
  position: relative;
  top: 1.25rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.index__main .main__queHacemos ul li a img {
  width: 14rem;
}

.index__main .main__nuestrosProductos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  padding: 15rem 12vw 0 12vw;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.index__main .main__nuestrosProductos .nuestrosProductos__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.index__main .main__nuestrosProductos .nuestrosProductos__productos ul {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-grid-columns: max-content max-content;
      grid-template-columns: -webkit-max-content -webkit-max-content;
      grid-template-columns: max-content max-content;
  grid-column-gap: 8rem;
  grid-row-gap: 3.5rem;
  padding: 2rem;
}

.index__main .main__nuestrosProductos .nuestrosProductos__productos ul li {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
}

.index__main .main__nuestrosProductos .nuestrosProductos__productos ul li img {
  width: 33.75rem;
  margin-bottom: 0.625rem;
  border-radius: 5px;
}

.juegos__main {
  width: 100%;
  background-color: #fdf5ab;
}

.juegos__main .main__juegos {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5625rem 12vw 1.5625rem 12vw;
}

.juegos__main .main__juegos img {
  width: 55vw;
}

.juegos__main .main__nuestrosJuegos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  padding: 1.5625rem 12vw 9.375rem 12vw;
}

.juegos__main .main__nuestrosJuegos h2 {
  padding: 1.875rem 0 1.875rem 0;
}

.juegos__main .main__nuestrosJuegos ul {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  gap: 1.25rem;
  max-width: 60vw;
  -ms-grid-row-align: center;
      align-self: center;
}

.juegos__main .main__nuestrosJuegos ul li {
  padding: 0.625rem;
  border-radius: 15px;
  width: 100% -1.25rem;
}

.juegos__main .main__nuestrosJuegos ul li img {
  width: 100%;
}

.juegos__main .main__nuestrosJuegos ul li h3 {
  padding: 6px 0 20px 0;
}

.juegos__main .main__nuestrosJuegos ul li p {
  text-align: justify;
}

.juegos__main .main__nuestrosJuegos ul li:hover {
  background-color: white;
}

.superstition__main {
  width: 100%;
  background-color: #fdf5ab;
}

.superstition__main .main__superstition {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 1.5625rem 12vw 1.5625rem 12vw;
}

.superstition__main .main__superstition a {
  text-decoration: underline;
  margin: 0 0 10px 0;
  color: #6655ff;
}

.superstition__main .main__superstition .superstition__conteiner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 3.75rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0 0 2.5rem 0;
}

.superstition__main .main__superstition .superstition__conteiner .carousel {
  width: 40vw;
}

.superstition__main .main__superstition .superstition__conteiner .superstition__data {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 30vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 30px;
}

.superstition__main .main__superstition .superstition__conteiner .superstition__data button {
  width: 100%;
  padding: 1rem 0 1rem 0;
  background-color: #f39f9f;
  border: none;
  border-radius: 5px;
}

.superstition__main .main__superstition .superstition__conteiner .superstition__data button p {
  font-size: 1.25rem;
  color: white;
}

.main__contacto {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: auto;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #d1e7ef;
  padding: 2.5rem 0 8.75rem 0;
}

.main__contacto h2 {
  width: 34rem;
  text-align: center;
  margin-bottom: 30px;
}

.main__contacto button {
  background-color: #000000;
  border: 0;
  border-radius: 5px;
  padding: 0.6875rem 1.75rem 0.6875rem 1.75rem;
}

.main__contacto button p {
  color: white;
  font-weight: 300;
}

footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 1.25rem 12vw 1.25rem 12vw;
  background-color: black;
}

footer p {
  color: white;
}

footer ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.875rem;
}

footer ul li p {
  color: white;
}

@media only screen and (max-width: 1200px) {
  * {
    font-size: 12px;
  }
}

@media only screen and (max-width: 900px) {
  * {
    font-size: 9px;
  }
}

@media only screen and (max-width: 660px) {
  * {
    font-size: 7px;
  }
  .superstition__main .main__superstition .superstition__conteiner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: auto;
  }
  .superstition__main .main__superstition .superstition__conteiner .carousel {
    width: 50vw;
  }
  .superstition__main .main__superstition .superstition__conteiner .superstition__data {
    width: 50vw;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 1.875rem;
  }
}
/*# sourceMappingURL=main.css.map */